{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="text-center">ERROR - {{ code }}</h1>

        <h2>{{ message }}</h2>
    </div>
{% endblock %}
